
body{
    background-color:rgb(226, 226, 150);
}

.btn_style , .output{

    /* background-color: red; */
    color: red;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.output {
    color: blue;
}

.btns{

    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
}

